@import "vars";
@media only screen and (max-width: 320px) {
  .cta{
    .cta__image--1{
      display: block;
    }
    .cta__image--2{
      display: none;
    }
    .cta__image--3{
      display: none;
    }
  }
}
@media only screen and (max-width: 768px){
  .cta{
    .cta__image--1{
      display: none;
    }
    .cta__image--2{
      display: block;
    }
    .cta__image--3{
      display: none;
    }
    .cta__holler{
      text-align: left;
    }
  }
}
@media only screen and (max-width: 1200px){
.cta{
  .cta__image--1{
    display: none;
  }
  .cta__image--2{
    display: none;
  }
  .cta__image--3{
    display: block;
  }
}
}
