$color-text-primary: #000;
$color-text-secondary: #fff;
$color-primary: #000;
$color-secondary: #697ea1;
$color-secondary-dark: #415068;

$font-body: 'Heebo', sans-serif;
$font-weight-reg: 400;
$font-weight-light: 300;

$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1200px;

$layout-center: 0px auto;
